.v-application {
  font-family: var(--fontFamily-base), sans-serif;
  letter-spacing: .1rem;
  line-height: 1.6;
  .headline,
  .title,
  .subheading,
  .caption {
    font-family: var(--fontFamily-base), sans-serif !important;
    letter-spacing: .1rem !important;
    line-height: 1.6 !important;
  }
}
.v-btn {
  font-size: 16px;
}
.v-textarea textarea {
  line-height: 2;
}
.v-list-item__title {
  font-size: 2rem;
}
.theme--dark.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: rgba(0, 0, 0, 0.12) !important;
}
.theme--dark.v-btn.v-btn--disabled {
  color: rgba(0, 0, 0, 0.3) !important;
}
/*
.v-input input {
  margin: 10px auto 0;
  background: #fff;
  padding: 20px 15px;
}
.v-input input {
  background: #fff;
  padding: 20px 15px;
  margin: 10px auto 0;
  border-radius: 5px 5px 0 0;
  border: 1px solid #ccc;
}

.v-text-field .v-label {
  top: 16px;
}
 */
.v-application .cyan.lighten-1 {
  background-color: var(--keyColor) !important;
  border-color: var(--keyColor) !important;
  color: #000 !important;
}

.container {
  padding: 0;
}

.v-progress-circular {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.v-snack {
  font-size: 1.6rem;
}
